.form{
    &__group{
        margin-bottom: 5rem;
    }
    &__input{
        color: rgb(0, 0, 0);
        font-size: 2rem;
        width: 90%;
        margin:0 auto;
        padding: 1rem;
        display: block;
        text-align: right;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0); 
        transition: all 0.3s;
        resize: none;
        &:focus{
            outline: none;
            border-bottom: 3px solid rgb(13, 252, 73);  
        }
        &:focus:invalid{
             border-bottom: 3px solid rgb(252, 0, 0);  
        }
        &::placeholder{
            visibility: hidden;
        }
    }
    &__label{
        color: rgb(12, 12, 11);
        font-size: 2rem;
     
    }
}